@{
    ViewBag.Title = "My Title";
    // Se nao quisermos utilizar o Layout basico do _ViewStart apenas setar como null
    //Layout = null;
}

@await Component.InvokeAsync("Login")

@section header{
    <p> @ViewBag.myobject.MyGuid </p>
}

<h3> My Value</h3>




